block vars
  -title        = 'Title'
  -description  = 'Description'
  -keywords     = 'keywords'
  -bodyClass    = 'page-top'
  -path         = '.'

doctype html
html.no-js(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0", id="viewport")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(href="//fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.2.0/css/all.css")
    link(rel="stylesheet", href=path+"/css/style.css")

  body(class=bodyClass)
    .wrapper
      block container
    script(src=path+"/js/jquery-3.3.1.min.js")
    script(src=path+"/js/modernizr.js")
    script(src=path+"/js/scripts.js")